@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');


body{
	font-family: 'Josefin Sans', sans-serif;

	/*background-color: grey;*/
}


section{
	height: 600px;
	width: 100%;
	overflow: hidden;
}
#home{
	color: #fff;
	height: 100vh;
	.mgWrapper{
			display: none;
		}
	#img-bg{
		position: relative;
		width: 100%;
		height: 100vh;
		z-index: 0;
		
		#img-x{
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: -1;
		}
		#grad{
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(to bottom right, #be93c5, #7bc6cc);
			opacity: .8;
			z-index: -1;
		}
		h3, h1{
				margin: 0;
				font-weight: 300;
			}
			h1{
				font-size: 4rem;
			}
			h3{
				font-size: 1.5rem;
			}
		#graphic{
			font-size: 3.7rem;
		}

		.text{
			width: 340px;
			// text-align: left;
			margin: 0 auto;

		}
		#logo{
			height: 50px;
			margin-top: 130px;
			margin-bottom: 40px;
		}

		#hireMe{
			// width: 230px;
			background: none;
			font-size: 1.1rem;
			padding: 0;
			color: #fff;
			border: 3px solid white;
			border-radius: 10px;
			padding: 10px;
			margin-top: 20px;
			// margin-bottom: 120px;
		}
		
		#aboutMe{
			color: #9de8ef;
			margin-top: 200px;
			display: block;
			// margin-bottom: 0;
			font-size: 1.1rem;
		}
		.chev{
			color: #9de8ef;
		}
}
}

#expertise{

	height: 100%;
	width: 100%;
	color: #142527;
	padding-bottom: 100px;
	h1, h2{
		font-size: 2.8rem;
	}
	#expertiseHeading{
		margin-bottom: 50px;
	}
	.text-center{
		padding-bottom: 20px;
	}
	p{
		font-size: 1.4rem;
		color: grey;
	}
	.bulletPoint{
		margin-top: 30px;
	}

	i{
		color: #9de8ef;
	}

}

#myWork{
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../images/camera-laptop.jpg')75%;
	// background-attachment: fixed;
	background-size: cover;
	color: #fff;
	.container{
		padding-top: 50px;
		padding-bottom: 20%;
	}
	h4{
		filter: invert(0%);
	}

	#moreExamples{
		    margin-top: 300px;
		    a{
		    	color: #9de8ef;
		    }
    		
	}
	#blsma-logo{
			height: 90px;
			margin-top: 50px;
			float: left;
			 -webkit-filter: invert(100%); 
			 -moz-filter: invert(100%); 
			 -ms-filter: invert(100%); 
			 filter: invert(100%); 
		}
	#brandi-logo{
			height: 40px;
			margin-top: 85px;
			float: left;
			-webkit-filter: invert(0%); 
			 -moz-filter: invert(0%); 
			 -ms-filter: invert(0%); 
			 filter: invert(0%);
		}
	#grad{
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(to bottom right, #19547b, #ffd89b);
			opacity: .8;
			z-index: 0;

		}

	.text{
		// display: inline-block;
		position: absolute;
		margin: 0;
		// padding:10px;
		
	}
	#workHeading{
		position: relative;
		width: 100%;
		width: 248px;
		padding-top: 50px;
		// padding-left:40px;
		margin: 0 auto;
		// float: right; 
		.underlineSlant{
			position: absolute;
			background-color: #fff;
			margin-top: 58px;
			width: 70px;
			height: 5px;
			transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
		}
		.underSlant{
			margin: 84px 0 0 20px;
			width: 140px;
		}

		.largeSlant{
			margin-top: 178px;
			width: 100px;
			transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			

		}
		.underSlantLarge{
			margin: 209px 0 0 20px;
			width: 200px;
		}
		.text{
			font-size: 4rem;
		}
		.letterY{
				margin: 20px 0 0 60px;
			}
		.letterW{
				margin: 100px 0 0 0;
			}
		.letterO{
				margin: 110px 0 0 60px;
				border-bottom: 6px solid;
			}
		.letterR{
				margin: 140px 0 0 120px;
			}
		.letterK{
				margin: 160px 0 0 180px;
		}


		

	}

	// #img-work{
	// 		position: absolute;
	// 		background: cover;
	// 		height: 100%;
	// 		width: 100%;
	// 		z-index: -1;
	// 	}
	.container-fluid{
		padding: 0;

		.col-xs-6{
			padding: 0;
			// clear:both;
		}
	.photoshoot{
			// height: 10%;
			width: 100%;
		}
	}
}

#mySkills{
	overflow: hidden;
	height: 100%;
	position: relative;
	background-color: #2d3436;
	padding-bottom: 15%;
	width: 100%;
	color: #fff;
	.description{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			margin-top: 20px;
		}

	.center-width{
		width: 90%;
		margin: 0 auto;
	}
	#skillsHeading{
		font-size: 2.8rem;
	}
	.imgContainer{
		width: 80%;
		height: 180px;
		margin: 0 auto;
		margin-top: 80px;
		border-radius: 10px;
		background: #fff;
		color: #fff;

		.imgTitle{
			position: absolute;
			left: 0;
			right: 0;
			margin-top: 75px;
			// margin-top: 21%;
			// margin-top: 50%;
			z-index: 1;
		}
	}
	.overlay{
		// position: absolute;
		margin:0;
		width: 100%;
		opacity: .6;
		// z-index: -1;
	}
	.orange{
		background: #ef6630;
	}
	.green{
		background: #27ae60;
	}
	.red{
		background: #c0392b;
	}
	.BilisummaaGraphic{
		position: relative;
		background: url('../images/adaaline-oromo.jpg')50%;
		background-size: cover;
	}
	.oyicGraphic{
		position: relative;
		background: url('../images/Oyic.jpg')50%;
		background-size: cover;
	}
	.osayGraphic{
		position: relative;
		background: url('../images/OSAY_gadaa.jpg')50%;
		background-size: cover;
	}
	h4{
		font-size:1.4rem;
		color:#dfe6e9;
	}
}
#hireMePage{
	overflow: hidden;
	background: linear-gradient(to bottom left, #ff6a00, #ee0979);
	color: #d3d8f2;
	.letters{
		position: relative;
		z-index: 2;
	}
	.highlight{
		position: absolute;
		background: #ae30f0;
		height: 4.4rem;
		width: 25px;
		z-index: 1;
	}
	.highlightT{
		margin-top: -8px;
		margin-left: -5px;
			
		}
	.highlightO{
		// margin-top: -8px;
		width: 32px;
		margin-left: 10px;

			
		}
	.highlightE{
		// margin-top: -8px;
		// margin-left: -1px;
			
		}
	// 	span{
	// 		position: absolute;
	// 	}
	// .space{
	// 	margin-left: 135px;
	// 	}
	h1{
		font-size:4rem;
		// float: right;
		
	}
	img{
		height: 530px;
		position: absolute;
		left: -30px;
		margin-top: 70px;
	}
	.textWrapper{
		position: relative;
		margin-top: 106px;
		width: 80%;
		float: right;
		z-index: 3;
		
		button{
			border: 2px solid #d3d8f2;
			border-radius: 7px;
			padding: 5px 15px;
			float: right;
			margin-right: 20px;
			margin-top: 40px;
			background: transparent;
		}
	}
}

footer{
	height:200px;
	width: 100%;
	background: #d3d8f2;
	color: #000;
	.padding-0{
		padding-left: 0;
		padding-right: 0;
	}
	.mediaWidth{
		width: 186px;
		
	}
	.textWrapper{
		margin-top: 70px;
	}

	.col-xs-2{
		width: 19%;
	}
	
}

@media  (min-width: 548px){
	#home {
	
	}
	#myWork {
		.container{
			width: 300px
		}
	}
}
@media (min-width: 1148px){
	#home{
		position: relative;
		// .mgWrapper{
		// 	width: 300px;
		// }
		.mgWrapper{
			display: block;
			position: absolute;
			margin-left: 50px;
			width: 300px;
			height: 100%;
			.verticalLine{
				position: absolute;
				border-left: 10px solid #fff;
				height: 33vh;
				z-index: 1;
				margin-left: 115px;
			}
			.linTwo{
				margin-top: 63vh;
				height: 39vh
			}
		}	
		#mg-logo2{
			margin-top: 250px;
			position: absolute;
			z-index: 1;
		}
		#img-bg{
			#img-x{
				object-fit: contain;
				height: 1261px;
    			margin-top: 11px;
    			padding-right: 300px;
			}
			#logo{
				visibility: hidden;
				transition: all 0.2s;
			// display: none;
			}
		}
	}
}