@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');


body{
	font-family: 'Josefin Sans', sans-serif;

	/*background-color: grey;*/
}


section{
	height: 600px;
	width: 100%;
	overflow: hidden;
}
#home{
	color: #fff;
	height: 100vh;
	#img-bg{
		position: relative;
		width: 100%;
		height: 100vh;
		z-index: 0;
		
		#img-x{
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: -1;
		}
		#grad{
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(to bottom right, #be93c5, #7bc6cc);
			opacity: .8;
			z-index: -1;
		}
		h3, h1{
				margin: 0;
				font-weight: 300;
			}
			h1{
				font-size: 4rem;
			}
			h3{
				font-size: 1.5rem;
			}
		#photographer, #designer{
			display: none;
		}

		.text{
			width: 340px;
			// text-align: left;
			margin: 0 auto;

		}
		#logo{
			height: 50px;
			margin-top: 30%;
			margin-bottom: 40px;
		}

		#hireMe{
			// width: 230px;
			background: none;
			font-size: 1.1rem;
			padding: 0;
			border: 3px solid white;
			border-radius: 10px;
			padding: 10px;
			margin-top: 25%;
		}
		
		#aboutMe{
			color: #9de8ef;
			margin-top: 70px;
			margin-bottom: 0;
			font-size: 1.1rem;
		}
		.chev{
			color: #9de8ef;
		}
}
}

#expertise{
	height: 100%;
	width: 100%;
	color: #142527;
	h1{
		font-size: 2em;
	}
	#expertiseHeading{
		margin-bottom: 50px;
	}
	p{
		font-size: 1.1rem;
		color: grey;
	}
	.bulletPoint{
		margin-top: 30px;
	}

	i{
		color: #9de8ef;
	}

}

#myWork{
	height: 100vh;
	width: 100%;
	background: url('../images/camera-laptop.jpg')75%;
	background-size: cover;
	color: #fff;
	#blsma-logo{
			height: 100px;
			margin-top: 350px;
			float: left;
			 -webkit-filter: invert(100%); 
			 -moz-filter: invert(100%); 
			 -ms-filter: invert(100%); 
			 filter: invert(100%); 
		}
	#brandi-logo{
			height: 50px;
			margin-top: 385px;
			float: left;
			-webkit-filter: invert(0%); 
			 -moz-filter: invert(0%); 
			 -ms-filter: invert(0%); 
			 filter: invert(0%);
		}
	#grad{
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(to bottom right, #19547b, #ffd89b);
			opacity: .8;
			z-index: 0;

		}

	.text{
		// display: inline-block;
		position: absolute;
		margin: 0;
		// padding:10px;
		
	}
	#workHeading{
		position: relative;
		width: 100%;
		padding-top: 50px;
		margin-top: 50px;
		padding-left:40px; 
		.underlineSlant{
			position: absolute;
			background-color: #fff;
			margin-top: 58px;
			width: 70px;
			height: 5px;
			transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
		}
		.underSlant{
			margin: 84px 0 0 20px;
			width: 140px;
		}

		.largeSlant{
			margin-top: 178px;
			width: 100px;
			transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			

		}
		.underSlantLarge{
			margin: 209px 0 0 20px;
			width: 200px;
		}
		.text{
			font-size: 4rem;
		}
		.letterY{
				margin: 20px 0 0 60px;
			}
		.letterW{
				margin: 100px 0 0 0;
			}
		.letterO{
				margin: 110px 0 0 60px;
				border-bottom: 6px solid;
			}
		.letterR{
				margin: 140px 0 0 120px;
			}
		.letterK{
				margin: 160px 0 0 180px;
		}

		

	}

	// #img-work{
	// 		position: absolute;
	// 		background: cover;
	// 		height: 100%;
	// 		width: 100%;
	// 		z-index: -1;
	// 	}
}

#mySkills{
	overflow: hidden;
	height: 100%;
	position: relative;
	background-color: #2d3436;
	padding-bottom: 15%;
	width: 100%;
	color: #fff;
	.description{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			margin-top: 20px;
		}
	#skillsHeading{
		font-size: 4rem;
	}
	.imgContainer{
		width: 80%;
		height: 15rem;
		margin: 0 auto;
		margin-top: 80px;
		border-radius: 10px;
		background: #fff;
		color: #fff;

		.imgTitle{
			position: absolute;
			left: 0;
			right: 0;
			margin-top: 21%;
			// margin-top: 50%;
			z-index: 1;
		}
	}
	.overlay{
		// position: absolute;
		margin:0;
		width: 100%;
		opacity: .6;
		// z-index: -1;
	}
	.orange{
		background: #ef6630;
	}
	.green{
		background: #27ae60;
	}
	.red{
		background: #c0392b;
	}
	.BilisummaaGraphic{
		position: relative;
		background: url('../images/adaaline-oromo.jpg')50%;
		background-size: cover;
		h1{
			font-family: 'Montserrat', sans-serif;
			font-size: 2.4rem;	
			font-weight: 300;
		}
		// background: #ef6630;
		// opacity: .8;
	}
	.oyicGraphic{
		position: relative;
		background: url('../images/oyic.png')50%;
		background-size: cover;
	}
	.osayGraphic{
		position: relative;
		background: url('../images/OSAY_gadaa.png')50%;
		background-size: cover;
	}
	h4{
		font-size:1rem;
	}
}
#hireMe{
	overflow: hidden;
	background: linear-gradient(to bottom right, #ff6a00, #ee0979);
	color: #d3d8f2;
	.letters{
		position: relative;
		z-index: 2;
	}
	.highlight{
		position: absolute;
		background: #ae30f0;
		height: 4.4rem;
		width: 25px;
		z-index: 1;
	}
	.highlightT{
		margin-top: -8px;
		margin-left: -5px;
			
		}
	.highlightO{
		// margin-top: -8px;
		width: 32px;
		margin-left: 10px;

			
		}
	.highlightE{
		// margin-top: -8px;
		// margin-left: -1px;
			
		}
	// 	span{
	// 		position: absolute;
	// 	}
	// .space{
	// 	margin-left: 135px;
	// 	}
	h1{
		font-size:4.4rem;
		// float: right;
		
	}
	img{
		height: 530px;
		position: absolute;
		left: -30px;
		margin-top: 70px;
	}
	.textWrapper{
		position: relative;
		margin-top: 30%;
		width: 70%;
		float: right;
		z-index: 3;
		
		button{
			border: 2px solid #d3d8f2;
			border-radius: 7px;
			padding: 5px 15px;
			float: right;
			margin-right: 20px;
			margin-top: 40px;
			background: transparent;
		}
	}
}

footer{
	height:200px;
	width: 100%;
	background: #d3d8f2;
	color: #000;
	.padding-0{
		padding-left: 0;
		padding-right: 0;
	}
	.mediaWidth{
		width: 186px;
		
	}
	.textWrapper{
		margin-top: 70px;
	}

	.col-xs-2{
		width: 19%;
	}
	
}